body {
    display: grid;
    place-items: center;
}


#game {
    border: 1px dashed #000;
    width: 800px;
    height: 600px;
}

img {
    display: none;
}

#wall {
    width: 52px;
    height: 24px;
}